{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

    Example context (json):
    {
            "width": 100,
            "unitstxt": '%',
            "player_id": 'default',
            "account_id": null',
            "playlist_id": null,
            "video_id": null'
    }
}}
<div style="max-width: {{width}}{{unitstxt}}; margin: auto;">
    {{#playlist_id}}
        <video-js
                id="brightcove-player-{{player_id}}"
                data-account="{{account_id}}"
                data-player="{{player_id}}"
                data-embed="default"
                data-playlist-id="{{playlist_id}}"
                data-application-id=""
                class="vjs-big-play-centered vjs-fluid"
                controls
        >
        </video-js>
    {{/playlist_id}}

    {{^playlist_id}}
        <video-js
                id="brightcove-player-{{player_id}}"
                data-account="{{account_id}}"
                data-player="{{player_id}}"
                data-embed="default"
                data-video-id="{{video_id}}"
                data-application-id=""
                class="vjs-big-play-centered vjs-fluid"
                controls
        >
        </video-js>
    {{/playlist_id}}
</div>
{{#js}}
    M.util.js_pending('mod_html5player/brightcove');
    require(['mod_html5player/brightcove'], function(amd) {amd.init('{{account_id}}', '{{player_id}}');
        M.util.js_complete('mod_html5player/brightcove');
    });
{{/js}}